form {
  display: flex;
  flex-direction: column;
  /* justify-self: center; */
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
}

.input-title {
  margin: 2px;
  width: 400px;
  height: 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.input-content {
  margin: 2px;
  width: 400px;
  height: 250px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.input-username {
  margin: 2px;
  width: 400px;
  height: 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.submit-button {
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid #808080;
  text-decoration: none;
  margin: 10px;
  color: #808080;
}

.submit-button:hover {
  color: black;
}